<nav class="additional navbar navbar-expand-lg py-2 border-bottom " style="background-color: rgba(208, 122, 122, 0.723);">
  <div class="container">
    <a class="navbar-brand" href="/"> <img src="https://cdn.pixabay.com/photo/2018/05/17/19/26/crossfit-3409475_640.png" alt="Logo" width="40" height="60" class="d-inline-block align-text-center m-px ">Fit Forge</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Exercises
          </a>
          <ul class="dropdown-menu">
            <li><a id="abs_drop" class="dropdown-item" href="/abs">Abs</a></li>
            <li><a id="back_drop" class="dropdown-item" href="/back">Back</a></li>
            <li><a id="forearm_drop" class="dropdown-item" href="/forearm">Forearms</a></li>
            <li><a id="biceps_drop" class="dropdown-item" href="/biceps">Biceps</a></li>
            <li><a id="triceps_drop" class="dropdown-item" href="/triceps">Triceps</a></li>
            <li><a id="chest_drop" class="dropdown-item" href="/chest">Chest</a></li>
            <li><a id="calves_drop" class="dropdown-item" href="/calf">Calves</a></li>
            <li><a id="traps_drop" class="dropdown-item" href="/trap">Traps</a></li>
            <li><a id="glutes_drop" class="dropdown-item" href="/glutes">Glutes</a></li>
            <li><a id="obliques_drop" class="dropdown-item" href="/obliques">Obliques</a></li>
            <li><a id="hamstrings_drop" class="dropdown-item" href="/hamstrings">Hamstrings</a></li>
            <li><a id="lowerback_drop" class="dropdown-item" href="/lowerback">Lower Back</a></li>
            <li><a id="Shoulder_drop" class="dropdown-item" href="/shoulder">Shoulder</a></li>
            <li><a id="lats_drop" class="dropdown-item" href="/lats">Lats</a></li>
            <li><a id="quadri_drop" class="dropdown-item" href="/quadriceps"> Quadriceps</a></li>
          </ul>
        </li>
      </ul>
      {{!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> --}}
    </div>
  </div>
  {{!-- <script src="/static/js/image.js"></script> --}}
</nav>



