<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Fitness</title>
</head>
<body>
    {{> navbar}}
     <div id="custom-alert">
        <p class="message" id = "alert-message">When using a mobile device or tablet, the option to slide the Muscular anatomy becomes available, providing users with a means to achieve precise clicks.<br><span style="color:rgb(235, 68, 68)">The body is designed for desktop dimensions !!!</span></p>
        <div class="ok-class">
            <button id="ok-button">OK</button>  
        </div>
    </div>
    <h1 class="main">Fit <span class="Forge">Forge</span></h1>
    <h1 class="second_heading"> Your Body, Your Way: Explore and <span class="Tap">Click</span> to Work Out</h1>
    <div id="" class="map-container ">
    <img src="/static/images/1-removebg.png" alt="Your Image" usemap="#your-map">
    <map name="your-map">
        
        <area target="_blank" alt="meme" title="meme" href="https://media.tenor.com/Nfct9RreQfUAAAAd/dog-meme.gif" coords="363,582,379,571,394,582,384,602,375,600" shape="poly">
        <area target="_blank" class="clickable-area" alt="chest" title="chest" id = "chest"  coords="286,275,309,254,360,246,412,246,458,249,476,264,471,301,458,322,424,328,379,317,341,325,310,330,285,306" shape="poly">
        <area target="_blank" alt="shoulder" id="shoulder1"title="shoulder" coords="986,275,1003,259,1014,246,1026,232,1047,226,1069,224,1080,219,1045,197,1011,211,995,234,987,256" shape="poly">
        <area target="_balnk" alt="shoulder" id="shoulder2"title="shoulder" coords="1217,223,1238,213,1249,207,1252,199,1275,211,1288,223,1296,240,1301,256,1302,269,1301,282,1280,255,1267,234,1252,229,1228,227" shape="poly">
        <area target="_balnk" alt="shoulder" id="shoulder3"title="shoulder" coords="230,303,256,279,275,259,291,245,309,234,322,230,285,224,262,230,243,248,233,274" shape="poly">
        <area target="_balnk" alt="shoulder" id="shoulder4"title="shoulder"  coords="437,231,458,240,471,245,484,257,495,269,510,282,529,298,532,287,526,261,513,242,495,229,473,224" shape="poly">
        <area target="_blank" class="clickable-area" alt="abs1" title="abs" id = "abs1" coords="333,340,349,334,360,327,373,326,391,326,407,330,415,335,424,345,428,359,429,377,426,390,426,408,426,424,424,445,421,456,423,482,415,511,405,535,399,557,357,554,341,507,331,435,330,361" shape="poly">
        <area target="_blank" alt="traps" id='traps2' title="traps"  coords="1051,194,1068,204,1080,214,1095,217,1133,207,1156,209,1174,214,1209,222,1225,214,1241,206,1249,198,1214,190,1180,169,1119,162,1103,180,1074,191" shape="poly">
        <area target="_blank" alt='traps' title="traps" id='traps1' coords="301,222,326,226,346,228,367,228,395,228,416,228,441,228,468,222,436,214,423,207,415,193,412,209,410,225,408,228,350,228,346,196,336,209,320,217" shape="poly">
        <area target="_blank" alt="biceps" id="biceps1" title="biceps"  coords="204,376,227,372,256,350,275,321,280,298,278,268,252,285,238,297,230,314" shape="poly">
        <area target="_blank" alt="biceps" id="biceps2" title="biceps" coords="479,273,500,281,524,295,535,313,547,337,558,359,548,377,531,361,511,348,492,327,486,302" shape="poly">
        <area target="_blank" alt="forearm" id="forearm1" title="forearm"  coords="539,393,550,382,566,372,572,385,598,411,622,446,648,478,622,502,577,465,539,428,527,412" shape="poly">
        <area target="_balnk" alt="forearm" id="forearm2" title="forearm" coords="127,486,156,510,215,454,241,420,249,403,204,382,182,409,141,473" shape="poly">
        <area target="_balnk" alt="Bforearm" id="forearm3" title="forearm" coords="873,466,897,490,932,461,960,439,973,419,950,381,941,371,918,395,895,437" shape="poly">
        <area target="_blank" alt="Bforearm" id="forearm4" title="forearm" coords="1302,425,1325,407,1330,380,1338,379,1350,393,1367,420,1383,454,1395,477,1402,485,1373,502,1334,464,1314,443" shape="poly">
        <area target="_blank" alt="obliques" title="obliques" id="obliques1"  coords="281,324,289,326,302,332,310,337,322,342,326,350,326,363,326,376,325,395,325,408,323,422,323,437,326,459,328,479,330,498,296,458,302,427,294,387,283,361,281,324" shape="poly">
        <area target="_blank" alt="obliques" title="obliques" id ="obliques2" coords="431,338,468,327,481,340,477,353,471,375,461,399,457,424,461,449,461,481,420,510,429,430,432,372" shape="poly">
        <area target="_blank" alt="triceps" title="triceps2" id="triceps2"  coords="977,365,971,328,979,306,997,267,1019,253,1031,275,1029,301,1034,324,1018,349,1002,377" shape="poly">
        <area target="_blank" alt="triceps" title="triceps1" id="triceps1"  coords="1254,333,1260,306,1260,280,1273,259,1291,272,1301,295,1304,316,1307,338,1310,364,1299,385,1283,390" shape="poly">
        <area target="_blank" alt="quadriceps" id="quards1" title="quadriceps"  coords="296,498,331,534,352,572,370,598,378,635,375,680,370,724,370,764,349,788,301,774,281,703,275,632,281,572" shape="poly">
        <area target="_blank" alt="quadriceps" id="quards2" title="quadriceps"  coords="384,601,405,569,429,525,450,501,461,496,473,548,482,614,481,678,471,733,458,768,423,788,397,783,391,775,386,699,381,641" shape="poly">
        <area target="_blank" alt="hamstrings" title="hamstrings" id="hamstrings1"  coords="1053,584,1085,609,1137,602,1143,629,1141,668,1137,699,1135,753,1133,803,1098,771,1069,786,1064,755,1050,715,1045,626" shape="poly">
        <area target="_blank" alt="hamstrings" title="hamstrings" id="hamstrings2"  coords="1148,602,1164,608,1188,613,1212,613,1235,602,1240,581,1248,621,1246,658,1238,713,1225,745,1222,787,1199,756,1177,790,1158,800,1156,760,1154,708,1146,655" shape="poly">
        <area target="_blank" alt="calf1" id='calf1' title="calf1"  coords="310,821,323,829,342,827,350,832,362,832,370,869,371,884,373,903,367,937,363,972,362,990,325,1001,314,937,305,905,304,874" shape="poly">
        <area target="_blank" alt="calf2" id='calf2' title="calf2" coords="395,837,428,832,452,832,453,887,452,911,442,953,436,988,431,1006,395,1001,391,938,386,901,387,872" shape="poly">
        <area target="_blank" alt="calf3" id='calf3' title="calf3"  coords="1074,813,1084,784,1101,806,1108,790,1129,823,1133,853,1138,884,1138,911,1135,935,1111,903,1106,921,1095,927,1080,927,1072,921,1069,874" shape="poly">
        <area target="_blank" alt="calf4" id='calf4' title="calf4"  coords="1164,823,1175,796,1182,786,1188,802,1198,780,1206,780,1220,809,1220,836,1222,860,1222,897,1214,921,1201,928,1190,923,1182,904,1172,928,1159,932,1153,902,1158,867" shape="poly">
        <area target="_blank" alt="glutes" title="glutes" id="glutes"  coords="1068,483,1063,503,1063,524,1059,554,1064,580,1084,599,1105,602,1129,602,1137,593,1148,581,1164,602,1191,607,1214,599,1232,572,1232,544,1228,514,1228,495,1220,477,1170,506,1150,540,1116,499,1072,478" shape="poly">
        <area target="_blank" alt="back" title="back" id="back" coords="1084,226,1098,221,1117,214,1138,213,1156,213,1182,219,1209,226,1211,235,1209,253,1206,274,1203,293,1199,311,1182,337,1164,364,1158,382,1137,383,1124,353,1106,325,1095,301,1093,269,1087,243" shape="poly">
        <area target="_blank" alt="lats" title="lats" id="lats1"  coords="1018,250,1035,265,1040,300,1045,334,1056,364,1064,398,1064,430,1061,467,1092,479,1100,427,1121,395,1133,380,1119,348,1095,308,1090,269,1082,232,1077,224,1037,231,1024,237" shape="poly">
        <area target="_blank" alt="lats" title="lats" id="lats2" coords="1214,226,1225,228,1260,233,1270,242,1270,254,1256,262,1252,271,1254,294,1244,344,1228,382,1222,424,1227,450,1227,471,1203,477,1193,464,1183,419,1159,384,1169,360,1203,312,1209,263" shape="poly">
        <area target="_blank" alt="lowerback" title="lowerback" id="lowerback" coords="1095,476,1116,494,1148,504,1178,494,1195,476,1190,459,1182,425,1175,410,1156,385,1137,385,1122,399,1105,425,1100,446" shape="poly">
    </map>
  </div>
  <script src="/static/js/image.js"></script>

</body>
</html>