body{
  background-color: #ffe9dd;
}
*::selection{
  background-color: black;
  color:#fdfcfc
}
.additional{
  width:auto,
}

.map-container {
    max-width: 100%; 
    height: auto;
    position: relative;
  }
  .map-container img {
    height: auto;
    display: block;
    width: auto;
    background-position: 'center';
  }

#custom-alert {
  position: absolute;
  align-self: center;
  justify-self: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #3c3c3c;
  border: 2px solid #fdfcfc;
  border-radius: 1.5dvh;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  height:auto;
  width: 300px;
  font:200
}
.ok-class{
  align-self:center ;
}
#ok-button {
  background-color: #585858;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  margin-top: 20;
  align-self: center;
}
#alert-message{
  font: 200;
  color:white;
}

.clickable-area {
    cursor: pointer; 
  }
  
  .clicked-area {
    background-color: red;
  }
  #webcoderskull{
    position: absolute;
    left: 0;
    top: 50%;
    padding: 0 20px;
    width: 100%;
    text-align: center;
}
.message{
  font:bold;
}
.main{
  font-size: 20vh;
  text-decoration:wavy;
}
.Forge{
  color: rgba(224, 114, 114, 0.87);
}
.second_heading{
  font-size: 6vh;
  text-transform: capitalize;
  padding: 0 10px 0 10px;
}
.Tap{
  color: #d96363d6;
}
